<div class="carListing">
  <mat-card appearance="outlined">
    <mat-card-header>
      @if (car.thumbnailUrl) {
      <img mat-card-avatar [src]="car.thumbnailUrl" alt="{{car.year}}-{{car.make}}-{{car.model}}">
      }
      <mat-card-title>
        <p>Vin: {{car.vin}}</p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Make: {{car.make}}</p>
      <p>Model: {{car.model}}</p>
      <p>Year: {{car.year}}</p>
      <p>Body Style: {{car.bodyStyle}}</p>
      <p>Color: {{car.displayColor}}</p>
      <p>Mileage: {{car.mileageHumanized}}</p>
      <p>Dealer: {{car.dealerName}}</p>
      <p>Location: {{car.city}}, {{car.state}}</p>
      <p>Distance: {{car.distanceFromOrigin}}</p>
      <p><strong><u style="color: red;">{{car.price}}</u></strong></p>

      @if (car.primaryPhotoUrl) {
      <img [src]="car.primaryPhotoUrl" alt="{{car.year}}-{{car.make}}-{{car.model}}">
      }
    </mat-card-content>
  </mat-card>
</div>
<br>
