<h2>Search Results:</h2>
<hr>

<app-search-form [isLoading]="isLoading" (submitEvent)="search($event, 1)" (clearEvent)="clear()"></app-search-form>

<br/><br/>

<div class="searchResults">
  @if (cars !== undefined) {

    <mat-paginator [length]="totalCount"
                   [pageSize]="20"
                   (page)="page($event)"
                   [disabled]="isLoading">
    </mat-paginator>

    @if (isLoading) {
    <p>Loading...</p>
    }

    @for (car of cars; track car) {
      <app-car [car]="car"></app-car>
    }
    @empty {
      <p>No Results :(</p>
    }
  }
</div>
