<h2>Search Results:</h2>
<hr>

<app-search-form [page]="paginator.pageIndex + 1" (submitEvent)="search($event)" (clearEvent)="clear()"></app-search-form>
<br/>

<div class="searchResults">

  <div class="loading-indicator" *ngIf="isLoading">Loading...</div>
  <div class="loading-placeholder" *ngIf="!isLoading"></div>
  <br/>

  <mat-paginator #paginator
                 [length]="totalCount"
                 [pageSize]="20"
                 (page)="onPage($event)"
                 [disabled]="isLoading">
  </mat-paginator>

  @if (hasResults) {
    @for (car of cars; track car) {
      <app-car [car]="car"></app-car>
    }
    @empty {
      <p>No Results :(</p>
    }
  }
</div>
